{% extends 'app/base/main.html' %}
{% load static %}


{% block title %}Add Product{% endblock title %}

{% block content %}
    <div class="body-wrapper">
        <!-- Begin Header Area -->
        {% include 'app/base/navbar.html' %}
        <!-- Header Area End Here -->
        <!-- Begin Li's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li class="active">Edit Product</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Li's Breadcrumb Area End Here -->
        <!-- Begin Login Content Area -->
        <div class="page-section mb-60">
            <br>
            <br>
            <br>
            <br>
            <div class="container" style="display: flex;
                                              justify-content: center;
                                              align-items: center;
                                              height: 100vh;">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                    <!-- Login Form s-->
                    <form action="{% url 'edit-product' form.instance.id %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="login-form">
                            <h4 class="login-title">Edit Product</h4>
                            <div class="row">
                                <div class="col-md-12 col-12 mb-20">
                                    <label>Image</label>
                                    <input class="mb-0" type="file" name="image" placeholder="Image">
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                    <label>Title</label>
                                    <input class="mb-0" type="text" name="title" placeholder="Title">
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                    <label class="form-label">User</label>
                                    <select name="user">
                                        {% for user in users %}
                                            <option value="{{ user.id }}">{{ user }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                    <label>Review</label>
                                    <input class="mb-0" type="number" name="review" placeholder="Review">
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                    <label>Price</label>
                                    <input class="mb-0" type="number" name="price" placeholder="Price">
                                </div>
                                <div class="col-md-12 col-12 mb-20">
                                    <label>Description</label>
                                    <input class="mb-0" type="text" name="description" placeholder="Description">
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                    <label>Quantity</label>
                                    <input class="mb-0" type="number" name="quantity" placeholder="Quantity">
                                </div>
                                <div class="col-md-6 col-12 mb-20">
                                    <label class="form-label">Category</label>
                                    <select name="category">
                                        {% for category in categories %}
                                            <option value="{{ category.id }}">{{ category }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-8">
                                    <div class="check-box d-inline-block ml-0 ml-md-2 mt-10">
                                        <input type="checkbox" id="remember_me">
                                        <label for="remember_me">Remember me</label>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="col-md-12">
                                    <button type="submit" class="register-button mt-0">Edit Product</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Login Content Area End Here -->
        <!-- Begin Footer Area -->
        {% include 'app/base/footer.html' %}
        <!-- Footer Area End Here -->
    </div>
{% endblock content %}


