{% extends 'app/base/main.html' %}
{% load static %}


{% block title %}Confirm Email{% endblock title %}

{% block content %}
    <div class="body-wrapper">
        <!-- Begin Header Area -->
        {% include 'app/base/navbar.html' %}
        <!-- Header Area End Here -->
        <!-- Begin Li's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li class="active">Confirm Email</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Li's Breadcrumb Area End Here -->
        <!-- Begin Login Content Area -->
        <div class="page-section mb-60">
            <br>
            <br>
            <div class="container" style="display: flex;
                                              justify-content: center;
                                              align-items: center;">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                    <!-- Login Form s-->
                    <form action="{% url 'confirm-email-password' %}" method="post">
                        <div class="modal-header" style="color: red">
                            {% if messages %}
                                {% for message in messages %}
                                    <p style="color: red">{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% csrf_token %}
                        <div class="login-form">
                            <h4 class="login-title">Confirm Email</h4>
                            <div class="row">
                                <div class="col-md-12 col-12 mb-20">
                                    <label>Email</label>
                                    <input class="mb-0" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="col-md-8">
                                </div>

                                <div class="col-md-12">
                                    <button type="submit" class="register-button mt-0">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Login Content Area End Here -->
        <!-- Begin Footer Area -->
        {% include 'app/base/footer.html' %}
        <!-- Footer Area End Here -->
    </div>
{% endblock content %}


